@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* website header */
header {
  top: 0px;
  font-family: Roboto;
}

/* start nav bar */
nav {
  width: 100%;
  z-index: 300;
  max-height: 3em;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
nav li {
  display: inline-block;
  font-size: 1.5em;
  padding-left: 3em;
}
nav ul {
  display: inline-block;
  width: 60%;
  text-align: right;
  padding-right: 10%;
  margin: .5em 0;
}
nav ul a {
  text-decoration: none;
  color: grey;
}
nav h1 a {
  text-decoration: none;
  color: black;
}
nav h1 {
  display: inline;
  font-size: 1.5em;
  padding-left: 10%;
  text-transform: uppercase;
}

/* end nav bar */

/* start main 'Joe Redman' headline that fades out */
div.headline {
  height: 100%;
  background-color: #939EA8;
}
div.headline h1 {
  font-family: Archivo Narrow;
  font-size: 10em;
  color: rgba(255,255,255,.8);
  margin: 0;
  padding-top: 15%;
  text-align: center;
}

/* start hero image and latest news */

div.hero {
  position: relative;
  background-image: url(../images/joe-redman-06.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: 85em auto;
  height: 45em;
}
div.latest-news {
  position: absolute;
  padding: 1.5em;
  top: 10%;
  left: 10%;
  max-width: 20em;
  text-align: justify;
  background-color: rgba(255, 255, 255, .8);
}
div.latest-news h2 {
  margin-top: 0;
  text-align: center;
}
div.latest-news ul {
  padding-left:0;
}
div.latest-news ol {
  padding-left:0;
  margin-bottom: .5em;
  list-style-type: none;
  background-color: rgba(0, 0, 0, .08);
}
div.latest-news a {
  text-decoration: none;
}
div.latest-news .updates {
  display: inline-block;
  width: 80%;
}
div.latest-news .joe-redman {
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  transform:         rotate(90deg);
  top: 34%;
  left: 32%;
}
div.latest-news .joe-redman h1 {
  color: rgba(0, 0, 0, .4);
  font-size: 3.5em;
  letter-spacing: .1em;
  white-space: nowrap;
  text-transform: uppercase;
}

/* end header */

/* image carousel */
#carousel {
  overflow: hidden;
  background-color: rgba(0, 0, 0, .08);
  height: 30em;
  position: relative;
}
#carousel ul,  
#carousel li {  
  list-style: none;
  list-style-type: none;
}
#carousel ul {
  position: relative;
}
#carousel li {
  top: 5em;
  width: 30%;
  height: 18em;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  background-size: cover;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#carousel img {
  width: 100%;
}
#carousel .left-position {
  left: 2.5%;
  z-index: 100;
  opacity: .65;
}
#carousel .right-position {
  left: 67.5%;
  z-index: 100;
  opacity: .65;
}
#carousel .center-position {
  z-index: 200;
  left: 35%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
#carousel .back-position {
  opacity: 0;
  left: 35%;
  z-index: -100;
  -webkit-transform: scale(.3);
  -moz-transform: scale(.3);
  transform: scale(.3);
}
#video-carousel {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* carousel arrows */
#arrow-left {
  bottom: 0;
  left: -1.5em;
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
#arrow-right {
  bottom: 0;
  right: -.7em;
  position: absolute;
}

/* page wrapper and other class methods */
#page-wrapper > section {
  margin-right: 10%;
  margin-left: 10%;
  text-align: justify;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
}
.fixed-top {
  position: fixed;
  top: 0;
}

/* footer */
footer {
  height: 5em;
}