@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* website header */
header {
  top: 0px;
  font-family: Roboto;
}

/* start nav bar */

nav {
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
nav li {
  display: inline-block;
  font-size: 1.5em;
  padding-left: 3em;
}
nav a {
  text-decoration: none;
  color: grey;
}
nav ul {
  display: inline-block;
  width: 60%;
  text-align: right;
  padding-right: 10%;
  margin: .5em 0;
}
nav h1 {
  display: inline;
  font-size: 1.5em;
  padding-left: 10%;
  text-transform: uppercase;
}

/* end nav bar */

/* start main 'Joe Redman' headline that fades out */
div.headline {
  height: 100%;
  background-color: #939EA8;
}
div.headline h1 {
  font-family: Archivo Narrow;
  font-size: 10em;
  color: rgba(255,255,255,.8);
  margin: 0;
  padding-top: 15%;
  text-align: center;
}

/* start hero image and latest news */

div.hero {
  position: relative;
  background-image: url(../images/joe-wall.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: left;
  background-size: 85em auto;
  height: 40em;
}
div.latest-news {
  position: absolute;
  padding: 1.5em;
  top: 10%;
  left: 10%;
  max-width: 20em;
  text-align: justify;
  background-color: rgba(255, 255, 255, .8);
}
div.latest-news h2 {
  margin-top: 0;
  text-align: center;
}
div.latest-news ul {
  padding-left:0;
}
div.latest-news ol {
  padding-left:0;
  margin-bottom: .5em;
  list-style-type: none;
  background-color: rgba(0, 0, 0, .08);
}
div.latest-news a {
  text-decoration: none;
}
.updates {
  display: inline-block;
  width: 80%;
}
.joe-redman {
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  transform:         rotate(90deg);
  top: 34%;
  left: 32%;
}
.joe-redman h1 {
  color: rgba(0, 0, 0, .4);
  font-size: 3.5em;
  letter-spacing: .1em;
  white-space: nowrap;
  text-transform: uppercase;
}

/* end header */

#page-wrapper > div {
  margin-right: 10%;
  margin-left: 10%;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
}
.fixed-top {
  position: fixed;
  top: 0;
}

/* image carousel */
#carousel {
  overflow: auto;
  background-color: rgba(0, 0, 0, .08);
  height: 20em;
  margin: 0 auto;
}
#carousel ul,  
#carousel li{  
  padding: 0;  
  list-style: none;  
  list-style-type: none;  
}
#carousel ul {
  /*position: relative;*/
  width: 100%;
  margin: 0;
}

/* footer */

footer {
  height: 5em;
}